html, body {
margin: 0;
padding: 0;
}

h1 {
margin: 0;
float: left;
}

.header {
    height: 60px;
    padding: 0 24px;
    background-color: #ff2800;
    color: yellow;
    line-height: 60px;

}

.header ul {
    float: right;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header li {
    float: left;
    margin-left: 20px;
}

.header a {
    color:white;
    text-decoration: none;
}

.content{
    width: 70%;
    background-color: aqua;
   float: left;

}

.sidebar{
    width: 30%;
    background-color: grey;
    float: left;
    min-height: 500px;
    color: red;
}

.blog-post{
margin:10px;
background-color: white;
border-color: grey;
border-style: groove;
border-radius: 15px;
padding: 10px;
min-height: 225px;
}

.image{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}