html, body {
margin: 0;
padding: 0;
}

h1 {
margin: 0;
float: left;
}

.header {
    height: 60px;
    padding: 0 24px;
    background-color: #ff2800;
    color: yellow;
    line-height: 60px;

}

.header ul {
    float: right;
}

.header li {
    float: left;
    margin-left: 20px;

}

.header a {
    color:white;
    text-decoration: none;
}

.content{
    width: 70%;
    background-color: aqua
}
